; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; -------- block jump back over early Point of No Return
{
    ; invisible block on electrical wires
    "origin" "-2960 3076 68"
    "mins" "0 -67 0"
    "maxs" "18 0 350"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; -------- block jump back over the Point of No Return after the pool room
{
    ; invisible block on window sill
    "origin" "-1180 2456 74"
    "mins" "-70 0 0"
    "maxs" "0 8 292"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================