; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
filter:
; ---- block sewer light exploit
{
    ; floodlight - model (avoid exploit)
    "hammerid" "6521904"
}
{
    ; floodlight - light
    "hammerid" "6521890"
}
{
    ; floodlight - light
    "hammerid" "6521895"
}
{
    ; floodlight - beam
    "hammerid" "6521900"
}
{
    ; floodlight - beam
    "hammerid" "6521902"
}
; =====================================================